{% extends "base.html" %}
{% block title %}Instructions{% endblock %}
{% block content %}
<h1>FedCamp Instructions</h1>
<p>This application provides added functionality for campground reservations made through the recreation.gov system. It is only available to authorized users who have been provided a link to the application. If you are reading these instructions and you should have access, please refer to your email invitation and use the link provided.</p>
<h5>Disclaimer</h5>
<p>This application is in no way officially affiliated with recreation.gov or the government contractor who produces and maintains that application. It is strictly made to address some shortcomings in that application using limited data downloaded from the recreation.gov system that does not contain any personally identifiable information.</p>
{% endblock %}